@charset "utf-8";
/* style.css */

/* 헤더1 */
.hd_f1{
    height: 49px;
    border-bottom: 1px solid #e0e0e0;
}
.hd_f1_in{
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.h1_icon ul{
    display: flex;
}
.h1_icon li{
    margin-top: 10px;
    margin-right: 3px;
}
.h1_icon li:nth-child(5){
    margin-right: 10px;
}
.h1_icon a{
    display: block;
    width: 30px;
    height: 28px;
    text-indent: -9999px;
}
.h1_i1 a{
    background-image: url(../img/kakaostory.png);
}
.h1_i2 a{
    background-image: url(../img/facebook.png);
}
.h1_i3 a{
    background-image: url(../img/x.png);
}
.h1_i4 a{
    background-image: url(../img/instagram.png);
}
.h1_i5 a{
    background-image: url(../img/youtube.png);
}
.h1_i6 a{
    background-image: url(../img/wifi.png);
}
.h1_i7 a{
    background-image: url(../img/bus.png);
}
.h1_text{
    display: flex;
    margin-top: 14px;
    margin-right: 212px;
}
.h1_info a{
    padding: 13px 100px 16px 25px;
    font-size: 14px;
    color: #333;
}
.h1_info a::before{
    content: "";
    display: inline-block;
    vertical-align: top;
    width: 13px;
    height: 16px;
    margin-top: 3px;
    margin-right: 12px;
    background-image: url(../img/haeder_mic.png);
}
.h1_info span{
    margin-left: 10px;
}
.h1_icon button{
    width: 18px;
    height: 17px;
    text-indent: -9999px;
}
.h1_play{
    background-image: url(../img/header_play.png);
}
.h1_pause{
    background-image: url(../img/header_pause.png);
}
.h1_logo{
    margin-top: 12px;
}
.h1_logo a{
    display: block;
    width: 114px;
    height: 25px;
    text-indent: -9999px;
    background-image: url(../img/header_Ulsan.png);
}

/* 헤더2 */
.hd_f2{
    height: 100px;
}
.hd_f2_in{
    display: flex;
    justify-content: space-between;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.h2_logo{
    margin-top: 32px;
}
.h2_logo a{
    display: block;
    width: 188px;
    height: 37px;
    text-indent: -9999px;
    background-image: url(../img/header_visit_Ulsan.jpg);
}
.h2_menu{
    margin-top: 38px;
}
.h2_menu ul{
    display: flex;
}
.h2_menu li{
    margin-right: 64px;
}
.h2_menu a{
    font-size: 22px;
    font-weight: 500;
    color: #333;
}
.h2_right{
    display: flex;
    margin-top: 38px;
}
.h2_right a{
    display: block;
    text-indent: -9999px;
}
.h2_search{
    margin-right: 27px;
}
.h2_search a{
    width: 19px;
    height: 21px;
    background-image: url(../img/header_icon1.png);
}
.h2_language{
    margin-right: 16px;
}
.h2_language a{
    font-size: 14px;
    color: #555555;
    text-indent: 0;
}
.h2_language a::before, .h2_language a::after{
    content: "";
    display: inline-block;
    vertical-align: top;
}
.h2_language a::before{
    width: 18px;
    height: 18px;
    margin-top: 2px;
    margin-right: 8px;
    background-image: url(../img/header_icon2.png);
}
.h2_language a::after{
    width: 0;
    height: 0;
    margin-top: 9px;
    margin-left: 9px;
    border-top: 5px solid #000;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
}
.h2_more a{
    width: 46px;
    height: 46px;
    margin-top: -10px;
    background-image: url(../img/header_icon3.png);
}
.h2_more a:hover{
    background-image: url(../img/header_icon4.png);
}

/* 메인1 */
.main1{
    position: relative;
    margin-bottom: 100px;
}
.m1_bg img{
    width: 100%;
}
.weather{
    position: absolute;
    top: 50px;
    right: 50px;
    width: 150px;
    height: 150px;
    text-align: center;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.8);
}
.wt_text{
    margin-top: 22px;
}
.wt_text a, .wt_c a{
    font-size: 14px;
    font-weight: 500;
    color: #333;
}
.wt_text a:hover{
    color: #008a99;
}
.wt_c span{
    font-size: 28px;
}
.m1_page{
    display: flex;
    justify-content: center;
    margin-top: 24px;
}
.m1_pager ul{
    display: flex;
}
.m1_pager li{
    margin-right: 4px;
}
.m1_pager li a{
    display: block;
    width: 15px;
    height: 15px;
    border: 3px solid #555555;
    border-radius: 50%;
    text-indent: -9999px;
}
.m1_pager li a:hover{
    border: 3px solid #ff5834;
    background-color: #ff5834;
}
.m1_pager li:first-child a{
    border: 3px solid #ff5834;
    background-color: #ff5834;
}
.m1_pager li:last-child{
    margin-right: 10px;
}
.m1_btn{
    position: relative;
}
.play, .pause{
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    margin-top: -5px;
    border-radius: 50%;
    text-indent: -9999px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40% auto;
}
.play{
    background-color: #555555;
    background-image: url(../img/main_icon_play.png);
}
.pause{
    display: none;
    background-image: url(../img/main_icon_pause.png);
}
.m1_arrow button{
    position: absolute;
    top: calc(50% - 52px);
    width: 74px;
    height: 104px;
    text-indent: -9999px;
}
.m1_arrow button:hover{
    background-color: rgba(0, 0, 0, 0.3);
}
.m1_left{
    left: 0;
    background-image: url(../img/main_slide_left.png);
}
.m1_right{
    right: 0;
    background-image: url(../img/main_slide_right.png);
}
.m1_text{
    position: absolute;
    left: 267px;
    bottom: 96px;
}
.m1_info{
    margin-bottom: 30px;
    font-size: 22px;
    line-height: 1em;
    color: #fff;
}
.m1_name{
    display: flex;
}
.m1_title{
    font-size: 55px;
    font-weight: 500;
    line-height: 1em;
    color: #fff;
}
.m1_more a{
    display: block;
    width: 40px;
    height: 40px;
    margin-top: 10px;
    margin-left: 10px;
    text-indent: -9999px;
    background-image: url(../img/main_slide_icon.png);
}

/* 1330 */
.q1330{
    position: fixed;
    right: 50px;
    bottom: 60px;
    z-index: 1000;
}
.q1330 a{
    display: block;
    width: 115px;
    height: 115px;
    text-indent: -9999px;
    background-image: url(../img/1330.png);
}

/* 메인2 */
.main2{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}
.title{
    margin-bottom: 60px;
    font-size: 35px;
    font-weight: 500;
    text-align: center;
}
.m2_box{
    display: flex;
    justify-content: space-between;
}
.box_left{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.box_number{
    font-size: 100px;
    font-weight: 700;
    line-height: 1em;
    color: #007BC6;
}
.box_text{
    width: 270px;
    margin-top: 200px;
}
.box_text .b1{
    margin-bottom: 20px;
    font-size: 14px;
    font-family: 400;
    line-height: 1em;
    color: #707070;
}
.box_text .b2{
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 500;
    line-height: 1em;
}
.box_text .b3{
    font-size: 16px;
    font-weight: 500;
    line-height: 1em;
}
.box_page{
    display: flex;
    justify-content: space-between;
}
.box_pager{
    font-size: 14px;
    font-weight: 500;
    line-height: 1em;
}
.blue{
    color: #007BC6;
}
.box_arrow button{
    width: 40px;
    height: 40px;
    text-indent: -9999px;
}
.ba_left{
    background-image: url(../img/main2_prev.png);
}
.ba_right{
    background-image: url(../img/main2_next.png);
}

/* 메인3 */
.main3{
    position: relative;
    display: flex;
    margin-left: -80px;
    margin-bottom: 140px;
}
.m3_manu{
    position: relative;
}
.m3_manu_box{
    position: absolute;
    top: 50px;
    left: 350px;
}
.month{
    margin-right: 50px;
}
.m3_title{
    margin-bottom: 30px;
    font-size: 35px;
    font-weight: 500;
    line-height: 1em;
    color: #fff;
}
.m3_text{
    margin-bottom: 50px;
}
.m3_text li{
    margin-bottom: 10px;
}
.m3_text li:first-child::before{
    content: "";
    display: inline-block;
    position: absolute;
    left: -12px;
    margin-top: 6px;
    width: 0;
    height: 0;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid rgba(255, 255, 255, 0.7);
}
.m3_text li a{
    font-size: 16px;
    color: #fff;
}
.m3_page{
    display: flex;
}
.m3_pager{
    margin-right: 10px;
}
.m3_pager ul{
    display: flex;
}
.m3_pager li{
    margin-right: 5px;
}
.m3_pager li a{
    display: block;
    width: 8px;
    height: 8px;
    border: 3px solid rgba(255, 255, 255, 0.3); 
    border-radius: 50%;
    text-indent: -9999px;
}
.m3_pager li:first-child a{
    border: 3px solid #fff;
    background-color: #fff;
}
.m3_btn button{
    width: 24px;
    height: 24px;
    margin-top: -5px;
    text-indent: -9999px;
}
.left{
    background-image: url(../img/main_icon_left.png);
}
.right{
    background-image: url(../img/main_icon_right.png);
}
.m3_btn .play, .m3_btn .pause{
    position: unset;
    margin-top: -4px;
    margin-left: 4px;
    margin-right: 4px;
    background-color: rgba(0, 0, 0, 0.3);
}
.m3_pp{
    position: relative;
    margin-right: 50px;
}
.hd{
    margin-right: 0;
    overflow: hidden;
}
.m3_box{
    position: absolute;
    top: 160px;
    left: 50px;
    width: 220px;
    height: 260px;
    padding: 40px;
    background-color: #003663;
    color: #fff;
}
.hdbox{
    width: 200px;
    left: 1530px;
}
.m3_title2{
    margin-bottom: 40px;
    font-size: 25px;
    font-weight: 300;
}
.m3_name{
    margin-bottom: 30px;
    font-size: 19px;
    font-weight: 300;
}
.m3_info{
    margin-bottom: 46px;
    font-size: 13px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.m3_a a{
    padding: 5px 10px;
    border: 1px solid #fff;
    color: #fff;
}

/* 메인4 */
.main4{
    position: relative;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}
.main4 .title{
    margin-bottom: 50px;
}
.m4_box ul{
    display: flex;
    justify-content: space-between;
}
.m4_box li{
    width: 382px;
    height: 398px;
    border: 1px solid rgba(0, 0, 0, 0.3);
}
.item_text{
    margin-left: 20px;
    font-weight: 500;
    color: #333;
}
.item_name{
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 20px;
}
.item_info{
    margin-bottom: 10px;
    font-size: 14px;
}
.item_icon{
    display: flex;
    font-size: 14px;
}
.item_icon1{
    margin-right: 30px;
}
.item_icon1::before, .item_icon2::before{
    content: "";
    display: inline-block;
    vertical-align: top;
    width: 20px;
    height: 20px;
    margin-right: 6px;
}
.item_icon1::before{
    margin-top: 1px;
    background-image: url(../img/main4_icon1.png);
}
.item_icon2::before{
    background-image: url(../img/main4_icon2.png);
}
.m4_btn button{
    position: absolute;
    top: 60%;
    width: 50px;
    height: 50px;
    text-indent: -9999px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.4);
    background-repeat: no-repeat;
    background-position: center;
}
.m4_left{
    left: -20px;
    background-image: url(../img/main_icon_left.png);
}
.m4_right{
    right: -20px;
    background-image: url(../img/main_icon_right.png);
}

/* 메인5 */
.main5{
    height: 400px;
    margin-bottom: 100px;
    background-color: #F4FAFD;
}
.main5_in{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.main5_in .title{
    padding-top: 60px;
    margin-bottom: 24px;
}
.m5_info{
    margin-bottom: 80px;
    font-size: 17px;
    font-weight: 400;
    text-align: center;
}
.m5_item ul{
    display: flex;
    justify-content: space-around;
}
.m5_item li{
    background-repeat: no-repeat;
}
.m5_item a{
    display: block;
    width: 150px;
    padding-top: 100px;
    text-align: center;
}
.m5_item a{
    font-size: 17px;
    color: #333;
}
.m5_i1{
    background-image: url(../img/main5_img1.png);
}
.m5_i2{
    background-image: url(../img/main5_img2.png);
}
.m5_i3{
    background-image: url(../img/main5_img3.png);
}
.m5_i4{
    background-image: url(../img/main5_img4.png);
}
.m5_i5{
    background-image: url(../img/main5_img5.png);
}
.m5_i6{
    background-image: url(../img/main5_img6.png);
}
.m5_i7{
    background-image: url(../img/main5_img7.png);
}

/* 메인6 */
.main6{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}
.main6 .title{
    margin-bottom: 24px;
}
.m6_info{
    margin-bottom: 70px;
    text-align: center;
}
.m6_item ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.m6_item li{
    width: 384px;
    height: 210px;
    margin-right: 24px;
    margin-bottom: 24px;
}
.m6_item li:nth-child(3n){
    margin-right: 0;
}
.m6_text{
    position: relative;
    height: 40px;
    margin-top: -40px;
    background-color: #CF3E1F;
}
.m6_text:hover{
    background-color: #a73318;
}
.m6_text a{
    display: flex;
    justify-content: space-between;
    color: #fff;
}
.m6_name{
    margin-top: 10px;
    margin-left: 20px;
    font-size: 18px;
}
.m6_icon{
    display: block;
    width: 26px;
    height: 10px;
    margin-top: 15px;
    margin-right: 20px;
    text-indent: -9999px;
    background-image: url(../img/main6_icon.png);
}

/* 메인7 */
.main7{
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 140px;
}
.main7 .m3_pp{
    margin-right: 0;
    margin-left: 50px;
}
.main7 .m3_manu_box{
    left: 30px;
}
.main7 .m3_text{
    margin-bottom: 140px;
    margin-left: 15px;
}
.main7 .m3_text li:first-child::before{
    left: 0;
}
.main7 .m3_page{
    margin-left: 15px;
}
.main7 .m3_box{
    left: 310px;
    text-align: right;
    background-color: #034D4A;
}
.main7 .m3_info{
    margin-bottom: 100px;
}

/* 메인8 */
.main8{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}
.main8 .title{
    margin-bottom: 24px;
}
.main8 .h1_icon{
    margin-bottom: 40px;
}
.main8 .h1_icon ul{
    justify-content: center;
}
.m8_item{
    display: flex;
}
.m8_left{
    margin-right: 24px;
}
.m8_left iframe{
    margin-bottom: 10px;
}
.m8_paser ul{
    display: flex;
    justify-content: center;
}
.m8_paser li{
    margin-right: 4px;
}
.m8_paser a{
    display: block;
    width: 12px;
    height: 12px;
    text-indent: -9999px;
    border-radius: 50%;
    border: 3px solid #d9d9d9;
    background-color: #d9d9d9;
}
.m8_paser li:first-child a{
    background-color: #fff;
}
.m8_right ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.m8_right li:nth-child(-n+3){
    margin-bottom: 40px;
}

/* footer - f1 */
.ft_f1{
    height: 50px;
    background-color: #5c5f64;
}
.ft_f1_in{
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.ft_f1_in ul{
    display: flex;
}
.ft_f1_in a{
    padding: 15px 0 15px 0;
    font-size: 14px;
    font-weight: 500;
    line-height: 50px;
    text-align: center;
    color: #fff;
}
.ft_f1_in a::before{
    content: "";
    display: inline-block;
    vertical-align: top;
    width: 0;
    height: 50px;
    margin-right: 24px;
    border-left: 1px solid rgba(255, 255, 255, 0.3);;
}
.ft_f1_in a::after{
    content: "";
    display: inline-block;
    vertical-align: top;
    width: 25px;
    height: 25px;
    padding-right: 10px;
    margin-top: 14px;
    margin-left: 30px;
    background-image: url(../img/footer_icon.png);
    background-repeat: no-repeat;
}
.ft_f1_in li:last-child::after{
    content: "";
    display: inline-block;
    vertical-align: top;
    width: 0;
    height: 50px;
    margin-right: 24px;
    border-right: 1px solid rgba(255, 255, 255, 0.3);
}

/* footer - f2 */
.ft_f2{
    margin-top: 40px;
    margin-bottom: 50px;
}
.ft_f2_in{
    display: flex;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.ft_logo{
    width: 142px;
    height: 28px;
    margin-right: 24px;
    text-indent: -9999px;
    background-image: url(../img/footer_logo.png);
}
.ft_f2_right{
    position: relative;
}
.ft_f2_text ul{
    display: flex;
    margin-bottom: 20px;
}
.ft_f2_text li::after{
    content: "";
    display: inline-block;
    vertical-align: top;
    width: 0;
    height: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    border-left: 1px solid #dddddd;
}
.ft_f2_text li:last-child:after{
    border-left: 0;
}
.ft_f2_text a{
    font-size: 14px;
    color: #333;
}
.ft_f2_text .point{
    color: #0079D7
}
.ft_f2_info{
    font-size: 14px;
    color: #333;
}
.ft_f2_call{
    position: absolute;
    top: 30px;
    left: 500px;
    padding: 10px 24px;
    border-radius: 100px;
    font-size: 24px;
    line-height: 1em;
    background-color: #eaebef;
}
.point{
    color: #0079D7
}